$submit-duration: 300ms

.rfi-container
  position: relative
  &.is-submitted
    +animation(rfi-container-height $submit-duration ease-in-out)
+keyframes(rfi-container-height)
  from
    height: 174px
  to
    height: 126px


.rfi
  @extend .grid
  margin-top: 40px
  margin-bottom: 70px

  #{$all-text-inputs}, textarea
    margin-top: $input-margin
    width: 100%
  textarea
    height: $input-height * 2 + $input-margin
    resize: none
  .button
    float: right
    margin-top: $input-margin
    padding: 0
    width: 100px

.rfi__checkbox
  +retina-image('../images/icon/checkmark-unchecked', 15px 15px)
  background-position: left top
  background-repeat: no-repeat
  background-size: 15px 15px
  float: left
  font-size: 11px
  margin-right: 20px
  margin-top: $input-margin
  padding-left: 23px
  position: relative
  text-transform: uppercase
  width: 180px
  @media #{$media-sm}
    width: 140px
  &.checked
    +retina-image('../images/icon/checkmark-checked', 15px 15px)
  > input
    +position(absolute, 0px 0 0 0px)
    z-index: -1


.rfi__error
  @extend %gotham-bold
  clear: left
  color: $orange
  font-size: 10px
  margin-top: $input-margin


.rfi-complete
  background: $blue-light
  color: $white
  padding: 40px 0
.rfi-complete__heading
  @extend %gotham-bold
  float: left
  font-size: $heading-font-size
  padding-right: 40px
  vertical-align: baseline
.rfi-complete__text
  float: left
  font-size: $body-font-size


.rfi-hide
  +animation(rfi-hide $submit-duration ease-in-out)
  +position(absolute, 0px 0px 0 0px)
  +transform-origin(center top)
  +transform(translateZ(0))
+keyframes(rfi-hide)
  from
    +transform(translateZ(0) translateY(-50px) scale(1))
    opacity: 1
  to
    +transform(translateZ(0) translateY(-50px) scale(.5))
    opacity: 0

.rfi-complete-show
  +animation(rfi-complete-show $submit-duration ease-in-out)
  +transform(translateY(-125px))
  position: relative
  z-index: 2
+keyframes(rfi-complete-show)
  from
    +transform(translateY(-125px))
  to
    +transform(translateY(0))
