@import bower_components/neu-style/neu
+neu('.public-wrapper')

$page-width: 960px
$header-height: 100px
$header-height-sm: 50px
$subnav-height: 60px
$subnav-height-sm: 30px
$grid-gutter: 30px
$footer-margin: 100px

// Media query helpers
// less than 768: show mobile header
// less than 690: no room for col-l
$media-lg: 'only screen and (min-width: 1020px)'
$media-md: 'only screen and (min-width: 768px) and (max-width: 1019px)'
$media-sm: 'only screen and (max-width: 767px)'
$media-sm-md: 'only screen and (max-width: 1019px)'

// Typography
$body-font-size: 18px
$body-font-size-sm: 15px
$heading-font-size: 17px
$nav-font-size: 13px

=font-size($big, $small: '')
  @if unitless($big)
    $big: $big * 1px
  font-size: $big
  @if $small != ''
    @media #{$media-sm}
      @if unitless($small)
        $small: $small * 1px
      font-size: $small


@import grid
@import header
@import footer
@import forms
@import rfi
@import ie
@import team
@import homepage
@import application


.content
  @extend .grid-container

// Don't decorate links by default, since they generally get custom styling.
// Links in body content (i.e., children of paragraphs) get a simple underline.
a
  color: inherit
  text-decoration: none
p > a
  text-decoration: underline

// For larger text, normal underline is too close to the baseline, but
// border-bottom is too far. Instead, use a pseudo element which can be
// positioned exactly to overlap descenders.
%padded-underline
  position: relative
  text-decoration: none
  &:after
    +position(absolute, 0 0px 3px 0px)
    background: $black
    content: ""
    height: 1px


.page-title
  @extend .grid-container
  line-height: 1
  margin-top: 100px
  @media #{$media-sm}
    margin-top: 50px
  h1
    @extend %alt-gothic
    +font-size(100, 50)
    margin: 0
  h2
    +font-size(30, 18)
    font-style: italic
    font-weight: normal
    margin: 0
  a
    @extend %padded-underline

// Note: Contents of page-title--hero must be wrapped in a `.grid`.
// This may end up being be specific to the project page.
.page-title--hero
  background-color: #000
  background-image: url(../images/universe-long.jpg)
  background-repeat: no-repeat
  background-size: cover
  margin-top: 0
  margin-bottom: -($footer-margin - 1)
  max-width: none
  padding: 55px 0 200px
  h1
    +font-size(100, 50)
    clear: both
    color: $white
    line-height: .9
    margin: 0
  h2
    @extend %gotham-bold
    +font-size($nav-font-size, 10)
    background: $white
    color: $black
    float: left
    font-style: normal
    margin-bottom: 20px
    margin-left: 6px
    padding: 4px 6px
  @media #{$media-sm}
    padding-bottom: 100px
    h2
      margin-left: 4px

.page-title__note
  +font-size(24, 16)
  clear: left
  color: $white
  float: left
  font-style: italic

  // TODO: abstracted from slideshow__drip; clean up!
  .drip
    background: $orange
    clear: both
    height: 200px
    margin: 40px auto 60px
    position: relative
    width: 1px
    &:after
      +position(absolute, 100% 0 0 -5px)
      +retina-image('../images/icon/dot-lg', 11px 11px)
      +size(11px)
      content: ""
      display: block
    @media #{$media-sm}
      height: 100px
      &:after
        +retina-image('../images/icon/dot-sm', 7px 7px)
        +size(7px)
        left: -3px

  > a:after
    background: $white


.rule-block
  @extend .grid
  border-top: 1px solid $black
  margin-top: 100px
  padding-top: 20px
  position: relative
  @media #{$media-sm}
    margin-top: 50px
.rule-block--thick
  border-top-width: 4px
.rule-block__sidebar
  @extend .col-s
  margin-bottom: 20px
  @media #{$media-sm-md}
    width: 100% !important
.rule-block__title
  @extend .rule-block__sidebar
  @extend .heading
.rule-block__content
  @extend .col-l
  @extend .omega
  +font-size($body-font-size, $body-font-size-sm)
  > hr
    border: none
    border-top: 1px solid $black
    margin: 40px 0 20px
.rule-block__content--big
  +font-size(24, 18)
p.rule-block__content, .rule-block__content p:first-child
  margin: 0
.rule-block__content--full
  @extend .col-x
  margin-top: 30px


.rule-title
  @extend .heading
  border-top: 1px solid $grey-e3
  margin-bottom: 20px
  margin-top: 50px
  padding-top: 10px
.rule-title--dark
  border-top-color: $black


.heading
  @extend %gotham-bold
  font-size: $heading-font-size
.heading--small
  font-size: 13px
.subheading
  @extend %crimson
  font-style: italic


ol.rule-list
  $numeral-width: 40px
  @extend .heading
  counter-reset: rule-list
  list-style-type: none
  padding: 0
  &:first-child
    margin-top: 0
  li:before
    content: counter(rule-list)
    counter-increment: rule-list
    display: inline-block
    width: $numeral-width
    margin-left: -$numeral-width
  li
    border-top: 1px solid $grey-e3
    margin-top: 10px
    padding-left: $numeral-width
    padding-top: 10px
  li:first-child
    border-top: none
    margin-top: 0
    padding-top: 0
  li > span
    @extend %crimson
    +font-size($body-font-size, $body-font-size-sm)
ol.rule-list--padded li
  margin-top: 20px
  padding-top: 20px


// For browsers that don't support HTML5 placeholders.
// TODO: refactor into a site-wide forms module
.placeholder
  position: relative
  > label
    +position(absolute, 8px 0 0 16px)
    font-size: $input-font-size
    color: $grey-93
    display: none
.placeholder.is-visible label
  display: block !important


.partners-box
  background: $grey-f3
.partners-box__neu
  +retina-replace('../images/partners-neu', 59px 65px)
.partners-box__plus
  +retina-replace('../images/partners-plus', 29px 29px)
.partners-box__unh
  +retina-replace('../images/partners-unh', 230px 25px)
@media only screen and (min-width: 511px)
  .partners-box
    +size(100% 150px)
    position: relative
  .partners-box__neu
    +position(absolute, 50% 0 0 19%)
    margin-left: -(59px / 2)
    margin-top: -(65px / 2)
  .partners-box__plus
    +position(absolute, 50% 0 0 37%)
    margin-left: -(29px / 2)
    margin-top: -(29px / 2)
  .partners-box__unh
    +position(absolute, 50% 0 0 68%)
    margin-left: -(230px / 2)
    margin-top: -(25px / 2)
@media only screen and (max-width: 510px)
  .partners-box
    padding: 10px
  .partners-box__neu,
  .partners-box__plus,
  .partners-box__unh
    margin: 30px auto


// On the about page. TODO: Abstract this into something reusable?
.just-about-everything
  +retina-replace('../images/just-about-everything', 210px 65px)
  margin: 35px auto 50px
