<nav>
	<ul class="site-header__nav">
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
			#else
				<li>
			#end
				<a href="$nav_item.getURL()" $nav_item.getTarget()>$nav_item.getName()</a>
			</li>
		#end
	</ul>
</nav>
