<!DOCTYPE html>
#parse ($init)
<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">
<head>
	<title>$the_title &middot; $company_name</title>
	$theme.include($top_head_include)
</head>

<body class="$css_class">
$theme.include($body_top_include)
#if ($is_signed_in)
	#dockbar()
#end

<div class="public-wrapper">
	<header class="site-header">
		<hgroup>
			<a href="$site_default_url"><h1 class="site-header__logo">$site_name</h1></a>
			<h2 class="site-header__partner">A new approach to engineering with the University of New Haven</h2>
		</hgroup>

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		<h2 class="page-title">
			<span>$the_title</span>
		</h2>

		<nav class="site-breadcrumbs" id="breadcrumbs">
			<h1>
				<span>#language("breadcrumbs")</span>
			</h1>

			#breadcrumbs()
		</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		#if (!$is_signed_in)
			<!-- TODO: move to footer -->
			<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end
	</footer>
</div>

$theme.include($body_bottom_include)
</body>
$theme.include($bottom_include)
</html>
